html,
body {
  margin: 0;
  padding: 0;
}

.screen-ctn {
  position: fixed;
  inset: 0;
}

.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
